/lecture6/nbproject/private/
/lecture6/build/
/Assignment7/nbproject/private/
/Assignment7/build/
/useArrayslist/nbproject/private/
/Assignment8/nbproject/private/
/Assignment8/build/
/Assignmentt8/nbproject/private/
/Arraylist/nbproject/private/
/Arraylist/build/
